header {
  background-color: @color-primary;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @sp-2 0;
  }
}

.menu {
  display: flex;

  li {
    font-weight: @font-weight-bold;
    margin-left: @sp-3;

    a {
      color: @color-white;
      text-decoration: none;
    }
  }
}
